<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="content="width=device-width, initial-scale=1.0"">
    <link type="text/css" rel="stylesheet" href="assets/dest/stylesheets/application.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37239126-1', 'akells.com');
        ga('send', 'pageview');
    </script>
  </head>
  <body>
    <header>
      <h2 class="header-title"> <a href="/"> Andrew Kelly </a> </h2>
      <h4 class="about-me"> Software Engineer at <a href="http://hireology.com"> Hireology </a> </h4>
      <div class="follow-me">
        <a href="http://github.com/kellyaj/"><i class="fa fa-github-square fa-3x"></i></a>
        <a href="http://twitter.com/_akells/"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="http://www.linkedin.com/pub/andrew-kelly/8b/139/341/"><i class="fa fa-linkedin-square fa-3x"></i></a>
      </div>
    </header>
    <section class="projects">
      <h1> PROJECTS </h1>
      {{ content }}
    </section>
  </body>
</html>
